:root{
  --color-bg: 
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}
body{
  background: radial-gradient(rgb(243, 216, 255), rgb(221, 158, 250), rgb(145, 67, 182));
}

.container{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px;
  margin: auto;
  background-color: #fff;
  width: 500px;
}
.inf{
  display: flex;
  justify-content: space-evenly;
}


.moreInf{
  text-align: left;
}
.center{
  text-align: center;
}

.title h1{
  color: rgb(145, 67, 182);
}
.title h2{
  text-align: center;
  font-size: 32px;
}
img{
  width: 50px;
}
button{
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  background-color: rgb(145, 67, 182);
  border: none;
}
button:hover{
  cursor: pointer;
  background-color: rgb(132, 29, 180);
}